{% extends "layout.html" %}
{% block content %}
<script>
function validDate(date, theInput) {
   
	dates = getTodaysDate();
    todayDate = dates[0];
    threefromnow = dates[1];
	if (date < todayDate)
		theInput.value = todayDate;
        
    if (date > threefromnow)
		theInput.value = todayDate;
}
function maxDate() {
   
	dates = getTodaysDate();
    todayDate = dates[0];
    threefromnow = dates[1];
	return threefromnow
}

function getTodaysDate(){
	date = new Date();
	day = date.getDate();
    day2 = day + 3;
	month = date.getMonth() + 1;
	year = date.getFullYear();

	if (month < 10) month = "0" + month;
	if (day < 10) day = "0" + day;
    if (day2 < 10) day2 = "0" + day2;

	today = year + "-" + month + "-" + day;	
	threefromnow = year + "-" + month + "-" + day2;	
	return [today,threefromnow];
}
</script>
<div id="sidebar">
  <span  style="font-family: 'Purisa'">Input Flight Information</span>
  <br/>
  <input type="text" name="departure" value="Dep" size=10  style="font-family: 'Purisa'"></input>
  <br/>
  <input type="text" name="arrival" value="Arr" size=10  style="font-family: 'Purisa'"></input>
  <br/>
  <input type="date" name="depdate" oninput="validDate(this.value, this)" style="font-family: 'Purisa'"></input>
  <br/>
  <input type="time" name="deptime" style="font-family: 'Purisa'"></input>
  <br/>
  <button type="button" id="query"  style="font-family: 'Purisa'">GO</button>
  <br/>
</div>
<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all" >
    <img style="height:64px;margin:10px;" src="static/css/images/282.GIF" alt="Loading.."/>
    <h3 style="color:gray;font-weight:normal;">Loading....</h3>
  </div>
</div>
<div id="map-canvas"  style="margin:0 auto; padding: 0 auto; width:60%; height:400px;"></div>
<br>
<div class="boxed" id="depbox" style="font-family: 'Purisa';border:1px dotted black;padding:1em; width:40%; float:left;"> 
</div>
<div class="boxed" id="arrbox" style="font-family: 'Purisa';border:1px dotted black;padding:1em; width:40%; float:left;">
</div>
<br>
<br>
<br>
<br>
<div class="boxed" id="cancellation" style="color:red;font-family: 'Purisa';border:1px dotted black;padding:1em;width:100%;">
</div>
<br>
<div class="boxed" id="delay"  style="color:red;font-family: 'Purisa';border:1px dotted black;padding:1em;width:100%;">
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">  
    var map; 
    var flightPath;
    function initialize() {
  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(39, -95),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
      
      flightPlanCoordinates = [
    new google.maps.LatLng(0,0),
    new google.maps.LatLng(0,0),
  ];
  flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });
  flightPath.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);  

$("#loading-div-background").css({ opacity: 0.7 });
$("#query").click(function() {  

  $("#loading-div-background").show();
  $("#depwe").hide();
  $("#arrwe").hide();
  $("#cancellation").hide();
  $("#delay").hide();
  
  var departure = $('input:text[name=departure]').val();
  var arrival = $('input:text[name=arrival]').val();
  var depdate = $('input[name=depdate]').val();
  var deptime = $('input[name=deptime]').val();
  var qu = {"departure":departure,"arrival":arrival,'depdate':depdate,'deptime':deptime}
  $.ajax({
    type: "POST",
    async:true,
    contentType: "application/json; charset=utf-8",
    url: "/query",
    data: JSON.stringify(qu),
    success: function (data) {    
     data = JSON.parse(data); 
     flightPath.setMap(null);
     var deplat=data.deplat
     var deplong = data.deplong
     var arrlat = data.arrlat
     var arrlong = data.arrlong
     var depwe = data.depwe
     var arrwe = data.arrwe
     var cancellation = data.cancellation
     var delay = data.delay

  var flightPlanCoordinates = [
    new google.maps.LatLng(deplat,deplong),
    new google.maps.LatLng(arrlat,arrlong),
  ];
  flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
 
   var container = $("#depbox");
     container.html(depwe);
     
   var container = $("#arrbox");
     container.html(arrwe);
     
     var container = $("#cancellation");
     container.html(cancellation);
     
     var container = $("#delay");
     container.html(delay);

     $("#loading-div-background").hide();      
     $("#depwe").show();
     $("#arrwe").show();
     $("#cancellation").show();
     $("#delay").show();
   },
   dataType: "html"
 });
});
</script>

<script>

 </script>

</script>
{% endblock %}
