{% extends "layout.html" %}
{% block content %}
<style> 
div #sidebar
{
  border:2px solid #a1a1a1;
  padding:10px 20px; 
  border-radius:15px;
}
</style>
<div id="sidebar">
  <span>Input Flight Information</span>
  <br/>
  <input type="text" name="departure" value="Dep" size=10></input>
  <br/>
  <input type="text" name="arrival" value="Arr" size=10></input>
  <br/>
  <input type="date" name="depdate" value="07-01-2015"></input>
  <br/>
  <button type="button" id="query">GO</button>
  <br/>
</div>
<div id="loading-div-background">
  <div id="loading-div" class="ui-corner-all" >
    <img style="height:64px;margin:10px;" src="static/css/images/282.GIF" alt="Loading.."/>
    <h3 style="color:gray;font-weight:normal;">Loading....</h3>
  </div>
</div>
<div id="map-canvas"  style="margin:0 auto; padding: 0 auto; width:70%; height:600px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script type="text/javascript">  
    var map; 
    var flightPath;
    function initialize() {
  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(39, -95),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
      
      flightPlanCoordinates = [
    new google.maps.LatLng(0,0),
    new google.maps.LatLng(0,0),
  ];
  flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });
  flightPath.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);  

$("#loading-div-background").css({ opacity: 0.7 });
$("#query").click(function() {  

  $("#loading-div-background").show();
  $("#map-canvas").hide();
  var departure = $('input:text[name=departure]').val();
  var arrival = $('input:text[name=arrival]').val();
  var depdate = $('input[name=depdate]').val();
  var qu = {"departure":departure,"arrival":arrival,'depdate':depdate}
  $.ajax({
    type: "POST",
    async:true,
    contentType: "application/json; charset=utf-8",
    url: "/query",
    data: JSON.stringify(qu),
    success: function (data) {    
     data = JSON.parse(data); 
     flightPath.setMap(null);
     var deplat=data.deplat
     var deplong = data.deplong
     var arrlat = data.arrlat
      var arrlong = data.arrlong

  var flightPlanCoordinates = [
    new google.maps.LatLng(deplat,deplong),
    new google.maps.LatLng(arrlat,arrlong),
  ];
  flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);


     $("#loading-div-background").hide();      
     $("#map-canvas").show();
   },
   dataType: "html"
 });
});
</script>

<script>

 </script>

</script>
{% endblock %}
